#home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, #a5b2ff, white, white, white, white, white, #afffea);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    user-select: none;
}

#bg-animation {
    position: fixed;
    z-index: 1;
    filter: blur(5px);
    bottom: -12.5%;
}

#nav {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: end;

    position: fixed;
    top: 0;

    opacity: 0;
    animation: get-visible 2s ease-in-out 2s forwards;

    z-index: 10;
}

@keyframes get-visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nav #title {
    width: fit-content;
    height: fit-content;

    display: flex;

    align-items: center;
    justify-content: center;

    position: absolute;
    left: 10%;
    z-index: 10;
}

#nav #title img {
    width: 50px;
    height: 50px;
}

#nav #title span {
    font-size: 20px;
    font-weight: 600;
}

#home-content {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

#home-content #title {
    height: 150px;
    width: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    font-size: 80px;
    font-weight: 700;
    overflow: hidden;
}

#home-content #title #title-expense {
    color: #4d69ff;
    transform: translateY(100%);
    animation: move-up-title 1.5s ease-in-out forwards
}

#home-content #title #title-tracker {
    transform: translateY(100%);
    animation: move-up-title 1.5s ease-in-out 1s forwards
}

#home #title #title-helper {
    font-size: 14px;
    font-weight: 600;
    position: fixed;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


@keyframes move-up-title {
    0% {
        transform: translateY(100%);
    }

    80% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

#home-content p {
    max-width: 60vw;
    text-align: center;
    transform: translateY(30px);
    opacity: 0;
    animation: move-up 2s ease-in-out 2s forwards;
}

#home-content button {
    all: unset;

    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    color: #02f7b4;
    font-size: 16px;
    font-weight: 600;

    border-radius: 50px;
    border: 1px solid #02f7b4;

    cursor: pointer;

    transform: translateY(30px);
    opacity: 0;
    animation: move-up 2s ease-in-out 2s forwards;

    transition: all 0.2s ease-in-out;
}

#home-content button:hover,
#home-content button:hover:active {
    background: #02f7b4;
    color: white;
}

#home-content button:hover:active {
    scale: 0.97;
}

@keyframes move-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    #nav {
        height: 100px;
    }

    #bg-animation {
        position: fixed;
        width: 230vw;
        left: -80vw;
        bottom: -10%;
        /* bottom: -5.5%; */
    }

    #home-content #title {
        height: 100px;
        font-size: 60px;
    }

    #home-content p {
        font-size: 12px;
        max-width: 70vw;
        margin-top: 0;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    #bg-animation {
        position: fixed;
        width: 200vw;
        left: -60vw;
        bottom: -12%;
    }

    #home-content #title {
        margin-top: 20px;
        height: 100px;
        font-size: 80px;
    }

    #home-content p {
        font-size: 14px;
        max-width: 70vw;
        margin-top: 0;
    }
}