button{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, orange, red);
    color: white;
    font-size: 14px;
}